<h1>About</h1>
<div style="width: 800px; height: 1500px; border: 1px solid #000; float: left; background: #e4e4e4;">
	<h4>Purpose</h4>
	The purpose of SFU Link is to help SFU students find a significant other, or even just a friend through means of online communication.

	<h4>Our Mission</h4>
	We strive to make the platform as user-friendly as possible. We want all users to have a satisfactory experience and find the partner they desire.
	<h4>Creators</h4>
	<p>SFU Link is a dating website developed by a group of five SFU students.</p>
</div>

<div style="width: 300px; height: 1500px; border: 1px solid #000; float: left;">
	<h2><u> Developers </u></h2>
	<h3> Kevin Lee</h3>
	<img style= "width: 200px; height: 200px;" src="https://www.summitachievement.com/wp-content/uploads/2015/10/mystery-Man.jpg"/>
	<h3> Rajan Grewal</h3>
	<img style= "width: 200px; height: 200px;" src="https://media.licdn.com/dms/image/C5603AQE0RXZ3bbb8Tg/profile-displayphoto-shrink_200_200/0?e=1567641600&v=beta&t=o2zELgoxYlSHdzugCgt-cD73J_gdiJhvqEv-peWTj0I"/>
	<h3> Peter Lan</h3>
	<img style= "width: 200px; height: 200px;" src="https://media.licdn.com/dms/image/C5603AQHK6mTiKQ4jDg/profile-displayphoto-shrink_800_800/0?e=1567641600&v=beta&t=Bg2B_pC2OXc-Tkief055gcJ3uj-7mOE09uHRImWeDjY"/>
	<h3> Adrian Wong</h3>
	<img style= "width: 200px; height: 200px;" src="https://scontent.fcxh2-1.fna.fbcdn.net/v/t1.0-1/p160x160/36188900_1819169251499670_2247203051922259968_n.jpg?_nc_cat=107&_nc_oc=AQlrUs52DYd4C7Hwib5DnP4IoD5S4lRISBb0I2eC7kuU-XNSvECvhNVP2if8-m99vUA&_nc_ht=scontent.fcxh2-1.fna&oh=00e0b3731d21761b294ed5f10a4546bb&oe=5DC34AD5"/>
	<h3> Joshua Clark</h3>
	<img style= "width: 200px; height: 200px;" src="https://scontent.fcxh2-1.fna.fbcdn.net/v/t1.0-1/c107.31.391.391a/s160x160/421715_525336010825357_529087902_n.jpg?_nc_cat=110&_nc_oc=AQk0paCHjBW5HRbLpbp3DNKCW9Gg0Y2a2AUs6Nu3K5Q1gXPtTpx3OMyFYDQ84pfkeLs&_nc_ht=scontent.fcxh2-1.fna&oh=85af205044baf2b1400ca1e5fd0d04a7&oe=5DB01874"/>
</div>

