<h2 align="center">Matching</h2>
<div id="container" align="center">
  <% for candidate in @possible_partners do %>
      <div class="buddy" style="display: block;"><div class="avatar" style="display: block;"><%= candidate.firstname %></div></div>
  <% end %>
</div>
