<h1>Profile</h1>
<div style="width: 800px; height: 1500px; border: 1px solid #000; float: left; background: #e4e4e4;">


<li class="navbar fixed-bottom navbar-dark bg-dark">


<a class="navbar-brand" href="#"a>
	<%= link_to "Profile", pages_profile_path, class: "nav-link"%>


<a class="navbar-brand" href="#"a>
<%= link_to "Contact Us", pages_contact_path, class: "nav-link"%>


<a class="navbar-brand" href="#"a>
<%= link_to "Chat", pages_contact_path, class: "nav-link"%>
</li>


	<h4>Purpose</h4>

	"Welcome to SFU Link #{@user.lastname}"
	<h4>Our Mission</h4>
	We strive to make the platform as user-friendly as possible. We want all users to have a satisfactory experience and find the partner they desire.
	<h4>Creators</h4>
	<p>SFU Link is a dating website developed by a group of five SFU students.</p>
</div>
