<body>
<form class="jotform-form" action="/form-templates/preview/thank-you/classic" method="get" enctype="multipart/form-data" name="form_20824131221437" id="20824131221437" accept-charset="utf-8" novalidate="true">
  <input type="hidden" name="formID" value="20824131221437">
  <div role="main" class="form-all" style="margin:0 auto;max-width: 100%">
    <ul class="form-section page-section">
      <li id="cid_2" class="form-input-wide" data-type="control_head">
        <div class="form-header-group ">
          <div class="header-text httal htvam">
            <h2 id="header_2" class="form-header" data-component="header">
              Dating Form
            </h2>
            <div id="subHeader_2" class="form-subHeader">
              Just tell us about you and we will fix your relationship issues.
            </div>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_fullname" id="id_16">
        <label class="form-label form-label-left form-label-auto" id="label_16" for="first_16">
          Name
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_16" class="form-input jf-required">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top">
              <input type="text" id="first_16" name="q16_name[first]" class="form-textbox validate[required]" size="10" value="" data-component="first" aria-labelledby="label_16 sublabel_16_first" required="">
              <label class="form-sub-label" for="first_16" id="sublabel_16_first" style="min-height:13px"> First Name </label>
            </span>
            <span class="form-sub-label-container" style="vertical-align:top">
              <input type="text" id="last_16" name="q16_name[last]" class="form-textbox validate[required]" size="15" value="" data-component="last" aria-labelledby="label_16 sublabel_16_last" required="">
              <label class="form-sub-label" for="last_16" id="sublabel_16_last" style="min-height:13px"> Last Name </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_birthdate" id="id_14">
        <label class="form-label form-label-left form-label-auto" id="label_14" for="input_14">
          Birth date
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_14" class="form-input jf-required">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top">
              <select name="q14_birthDate[month]" id="input_14_month" class="form-dropdown validate[required]" data-component="birthdate-month">
                <option>  </option>
                <option value="January"> January </option>
                <option value="February"> February </option>
                <option value="March"> March </option>
                <option value="April"> April </option>
                <option value="May"> May </option>
                <option value="June"> June </option>
                <option value="July"> July </option>
                <option value="August"> August </option>
                <option value="September"> September </option>
                <option value="October"> October </option>
                <option value="November"> November </option>
                <option value="December"> December </option>
              </select>
              <label class="form-sub-label" for="input_14_month" id="sublabel_month" style="min-height:13px"> Month </label>
            </span>
            <span class="form-sub-label-container" style="vertical-align:top">
              <select name="q14_birthDate[day]" id="input_14_day" class="form-dropdown validate[required]" data-component="birthdate-day">
                <option>  </option>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
                <option value="3"> 3 </option>
                <option value="4"> 4 </option>
                <option value="5"> 5 </option>
                <option value="6"> 6 </option>
                <option value="7"> 7 </option>
                <option value="8"> 8 </option>
                <option value="9"> 9 </option>
                <option value="10"> 10 </option>
                <option value="11"> 11 </option>
                <option value="12"> 12 </option>
                <option value="13"> 13 </option>
                <option value="14"> 14 </option>
                <option value="15"> 15 </option>
                <option value="16"> 16 </option>
                <option value="17"> 17 </option>
                <option value="18"> 18 </option>
                <option value="19"> 19 </option>
                <option value="20"> 20 </option>
                <option value="21"> 21 </option>
                <option value="22"> 22 </option>
                <option value="23"> 23 </option>
                <option value="24"> 24 </option>
                <option value="25"> 25 </option>
                <option value="26"> 26 </option>
                <option value="27"> 27 </option>
                <option value="28"> 28 </option>
                <option value="29"> 29 </option>
                <option value="30"> 30 </option>
                <option value="31"> 31 </option>
              </select>
              <label class="form-sub-label" for="input_14_day" id="sublabel_day" style="min-height:13px"> Day </label>
            </span>
            <span class="form-sub-label-container" style="vertical-align:top">
              <select name="q14_birthDate[year]" id="input_14_year" class="form-dropdown validate[required]" data-component="birthdate-year">
                <option>  </option>
                <option value="2019"> 2019 </option>
                <option value="2018"> 2018 </option>
                <option value="2017"> 2017 </option>
                <option value="2016"> 2016 </option>
                <option value="2015"> 2015 </option>
                <option value="2014"> 2014 </option>
                <option value="2013"> 2013 </option>
                <option value="2012"> 2012 </option>
                <option value="2011"> 2011 </option>
                <option value="2010"> 2010 </option>
                <option value="2009"> 2009 </option>
                <option value="2008"> 2008 </option>
                <option value="2007"> 2007 </option>
                <option value="2006"> 2006 </option>
                <option value="2005"> 2005 </option>
                <option value="2004"> 2004 </option>
                <option value="2003"> 2003 </option>
                <option value="2002"> 2002 </option>
                <option value="2001"> 2001 </option>
                <option value="2000"> 2000 </option>
                <option value="1999"> 1999 </option>
                <option value="1998"> 1998 </option>
                <option value="1997"> 1997 </option>
                <option value="1996"> 1996 </option>
                <option value="1995"> 1995 </option>
                <option value="1994"> 1994 </option>
                <option value="1993"> 1993 </option>
                <option value="1992"> 1992 </option>
                <option value="1991"> 1991 </option>
                <option value="1990"> 1990 </option>
                <option value="1989"> 1989 </option>
                <option value="1988"> 1988 </option>
                <option value="1987"> 1987 </option>
                <option value="1986"> 1986 </option>
                <option value="1985"> 1985 </option>
                <option value="1984"> 1984 </option>
                <option value="1983"> 1983 </option>
                <option value="1982"> 1982 </option>
                <option value="1981"> 1981 </option>
                <option value="1980"> 1980 </option>
                <option value="1979"> 1979 </option>
                <option value="1978"> 1978 </option>
                <option value="1977"> 1977 </option>
                <option value="1976"> 1976 </option>
                <option value="1975"> 1975 </option>
                <option value="1974"> 1974 </option>
                <option value="1973"> 1973 </option>
                <option value="1972"> 1972 </option>
                <option value="1971"> 1971 </option>
                <option value="1970"> 1970 </option>
                <option value="1969"> 1969 </option>
                <option value="1968"> 1968 </option>
                <option value="1967"> 1967 </option>
                <option value="1966"> 1966 </option>
                <option value="1965"> 1965 </option>
                <option value="1964"> 1964 </option>
                <option value="1963"> 1963 </option>
                <option value="1962"> 1962 </option>
                <option value="1961"> 1961 </option>
                <option value="1960"> 1960 </option>
                <option value="1959"> 1959 </option>
                <option value="1958"> 1958 </option>
                <option value="1957"> 1957 </option>
                <option value="1956"> 1956 </option>
                <option value="1955"> 1955 </option>
                <option value="1954"> 1954 </option>
                <option value="1953"> 1953 </option>
                <option value="1952"> 1952 </option>
                <option value="1951"> 1951 </option>
                <option value="1950"> 1950 </option>
                <option value="1949"> 1949 </option>
                <option value="1948"> 1948 </option>
                <option value="1947"> 1947 </option>
                <option value="1946"> 1946 </option>
                <option value="1945"> 1945 </option>
                <option value="1944"> 1944 </option>
                <option value="1943"> 1943 </option>
                <option value="1942"> 1942 </option>
                <option value="1941"> 1941 </option>
                <option value="1940"> 1940 </option>
                <option value="1939"> 1939 </option>
                <option value="1938"> 1938 </option>
                <option value="1937"> 1937 </option>
                <option value="1936"> 1936 </option>
                <option value="1935"> 1935 </option>
                <option value="1934"> 1934 </option>
                <option value="1933"> 1933 </option>
                <option value="1932"> 1932 </option>
                <option value="1931"> 1931 </option>
                <option value="1930"> 1930 </option>
                <option value="1929"> 1929 </option>
                <option value="1928"> 1928 </option>
                <option value="1927"> 1927 </option>
                <option value="1926"> 1926 </option>
                <option value="1925"> 1925 </option>
                <option value="1924"> 1924 </option>
                <option value="1923"> 1923 </option>
                <option value="1922"> 1922 </option>
                <option value="1921"> 1921 </option>
                <option value="1920"> 1920 </option>
              </select>
              <label class="form-sub-label" for="input_14_year" id="sublabel_year" style="min-height:13px"> Year </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_radio" id="id_32">
        <label class="form-label form-label-left form-label-auto" id="label_32" for="input_32">
          Gender
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_32" class="form-input jf-required">
          <div class="form-single-column" data-component="radio">
            <span class="form-radio-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio validate[required]" id="input_32_0" name="q32_gender" value="Male" required="">
              <label id="label_input_32_0" for="input_32_0"> Male </label>
            </span>
            <span class="form-radio-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio validate[required]" id="input_32_1" name="q32_gender" value="Female" required="">
              <label id="label_input_32_1" for="input_32_1"> Female </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_radio" id="id_34">
        <label class="form-label form-label-left form-label-auto" id="label_34" for="input_34">
          Marital status
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_34" class="form-input jf-required">
          <div class="form-single-column" data-component="radio">
            <span class="form-radio-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio validate[required]" id="input_34_0" name="q34_maritalStatus" value="Single" required="">
              <label id="label_input_34_0" for="input_34_0"> Single </label>
            </span>
            <span class="form-radio-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio validate[required]" id="input_34_1" name="q34_maritalStatus" value="Divorced" required="">
              <label id="label_input_34_1" for="input_34_1"> Divorced </label>
            </span>
            <span class="form-radio-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio validate[required]" id="input_34_2" name="q34_maritalStatus" value="Widowed" required="">
              <label id="label_input_34_2" for="input_34_2"> Widowed </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_textbox" id="id_7">
        <label class="form-label form-label-left form-label-auto" id="label_7" for="input_7">
          Occupation
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_7" class="form-input jf-required">
          <input type="text" id="input_7" name="q7_occupation" data-type="input-textbox" class="form-textbox validate[required]" size="32" value="" placeholder=" " data-component="textbox" aria-labelledby="label_7" required="">
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_email" id="id_15">
        <label class="form-label form-label-left form-label-auto" id="label_15" for="input_15">
          E-mail
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_15" class="form-input jf-required">
          <input type="email" id="input_15" name="q15_email15" class="form-textbox validate[required, Email]" size="32" value="" placeholder="ex: myname@example.com" data-component="email" aria-labelledby="label_15" required="">
        </div>
      </li>
      <li class="form-line" data-type="control_phone" id="id_23">
        <label class="form-label form-label-left form-label-auto" id="label_23" for="input_23_area"> Phone number </label>
        <div id="cid_23" class="form-input">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top">
              <input type="tel" id="input_23_area" name="q23_phoneNumber[area]" class="form-textbox" size="6" value="" data-component="areaCode" aria-labelledby="label_23 sublabel_23_area">
              <span class="phone-separate" aria-hidden="true">
                &nbsp;-
              </span>
              <label class="form-sub-label" for="input_23_area" id="sublabel_23_area" style="min-height:13px"> Area Code </label>
            </span>
            <span class="form-sub-label-container" style="vertical-align:top">
              <input type="tel" id="input_23_phone" name="q23_phoneNumber[phone]" class="form-textbox" size="12" value="" data-component="phone" aria-labelledby="label_23 sublabel_23_phone">
              <label class="form-sub-label" for="input_23_phone" id="sublabel_23_phone" style="min-height:13px"> Phone Number </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_dropdown" id="id_33">
        <label class="form-label form-label-left form-label-auto" id="label_33" for="input_33"> State you live in </label>
        <div id="cid_33" class="form-input">
          <select class="form-dropdown" id="input_33" name="q33_stateYou" style="width:150px" data-component="dropdown" aria-labelledby="label_33">
            <option value="">  </option>
            <option value="Alabama"> Alabama </option>
            <option value="Alaska"> Alaska </option>
            <option value="Arizona"> Arizona </option>
            <option value="Arkansas"> Arkansas </option>
            <option value="California"> California </option>
            <option value="Colorado"> Colorado </option>
            <option value="Connecticut"> Connecticut </option>
            <option value="Delaware"> Delaware </option>
            <option value="District of Columbia"> District of Columbia </option>
            <option value="Florida"> Florida </option>
            <option value="Georgia"> Georgia </option>
            <option value="Hawaii"> Hawaii </option>
            <option value="Idaho"> Idaho </option>
            <option value="Illinois"> Illinois </option>
            <option value="Indiana"> Indiana </option>
            <option value="Iowa"> Iowa </option>
            <option value="Kansas"> Kansas </option>
            <option value="Kentucky"> Kentucky </option>
            <option value="Louisiana"> Louisiana </option>
            <option value="Maine"> Maine </option>
            <option value="Maryland"> Maryland </option>
            <option value="Massachusetts"> Massachusetts </option>
            <option value="Michigan"> Michigan </option>
            <option value="Minnesota"> Minnesota </option>
            <option value="Mississippi"> Mississippi </option>
            <option value="Missouri"> Missouri </option>
            <option value="Montana"> Montana </option>
            <option value="Nebraska"> Nebraska </option>
            <option value="Nevada"> Nevada </option>
            <option value="New Hampshire"> New Hampshire </option>
            <option value="New Jersey"> New Jersey </option>
            <option value="New Mexico"> New Mexico </option>
            <option value="New York"> New York </option>
            <option value="North Carolina"> North Carolina </option>
            <option value="North Dakota"> North Dakota </option>
            <option value="Ohio"> Ohio </option>
            <option value="Oklahoma"> Oklahoma </option>
            <option value="Oregon"> Oregon </option>
            <option value="Pennsylvania"> Pennsylvania </option>
            <option value="Puerto Rico"> Puerto Rico </option>
            <option value="Rhode Island"> Rhode Island </option>
            <option value="South Carolina"> South Carolina </option>
            <option value="South Dakota"> South Dakota </option>
            <option value="Tennessee"> Tennessee </option>
            <option value="Texas"> Texas </option>
            <option value="Utah"> Utah </option>
            <option value="Vermont"> Vermont </option>
            <option value="Virgin Islands"> Virgin Islands </option>
            <option value="Virginia"> Virginia </option>
            <option value="Washington"> Washington </option>
            <option value="West Virginia"> West Virginia </option>
            <option value="Wisconsin"> Wisconsin </option>
            <option value="Wyoming"> Wyoming </option>
          </select>
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_20">
        <label class="form-label form-label-left form-label-auto" id="label_20" for="input_20"> How would you like your match to contact you? </label>
        <div id="cid_20" class="form-input">
          <div class="form-single-column" data-component="radio">
            <span class="form-radio-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio" id="input_20_0" name="q20_howWould20" value="Phone">
              <label id="label_input_20_0" for="input_20_0"> Phone </label>
            </span>
            <span class="form-radio-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio" id="input_20_1" name="q20_howWould20" value="Email">
              <label id="label_input_20_1" for="input_20_1"> Email </label>
            </span>
            <span class="form-radio-item" style="clear:left">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio" id="input_20_2" name="q20_howWould20" value="Both">
              <label id="label_input_20_2" for="input_20_2"> Both </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_fileupload" id="id_21">
        <label class="form-label form-label-left form-label-auto" id="label_21" for="input_21">
          Recent photo
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_21" class="form-input jf-required">
          <input type="file" id="input_21" name="q21_recentPhoto21" class="form-upload validate[required]" data-imagevalidate="yes" data-file-accept="pdf, doc, docx, xls, csv, txt, rtf, html, zip, mp3, wma, mpg, flv, avi, jpg, jpeg, png, gif" data-file-maxsize="500" data-file-minsize="0" data-file-limit="0" data-component="fileupload" required="">
        </div>
      </li>
      <li class="form-line" data-type="control_textarea" id="id_25">
        <label class="form-label form-label-top" id="label_25" for="input_25"> Give a brief description of yourself </label>
        <div id="cid_25" class="form-input-wide">
          <textarea id="input_25" class="form-textarea" name="q25_giveA25" cols="60" rows="6" data-component="textarea" aria-labelledby="label_25"></textarea>
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_35">
        <div id="cid_35" class="form-input-wide">
          <div style="margin-left:156px" class="form-buttons-wrapper">
            <button id="input_35" type="submit" class="form-submit-button" data-component="button">
              Submit
            </button>
          </div>
        </div>
      </li>
      <li style="display:none">
        Should be Empty:
        <input type="text" name="website" value="">
      </li>
    </ul>
  </div>
  <input type="hidden" id="simple_spc" name="simple_spc" value="20824131221437-20824131221437">
  <script type="text/javascript">
  document.getElementById("si" + "mple" + "_spc").value = "20824131221437-20824131221437";
  </script>
<input type="hidden" name="event_id" value="1561880792344_20824131221437_ZibWC7k"></form><img id="event_tracking_image" src="//events.jotform.com/form/20824131221437/?ref=&amp;res=1280x800&amp;eventID=1561880792344_20824131221437_ZibWC7k&amp;loc=https%253A%252F%252Fwww.jotform.com%252Fform-templates%252Fpreview%252F20824131221437%252Fclassic" alt="jftr" width="1" height="1" style="display: none;">


<script>
	document.addEventListener("DOMContentLoaded", function(event) {
		if( typeof window.top.FormTemplate !== "undefined" ){
			window.top.FormTemplate.hideFormLoaderIndicators();
		}
		if( typeof window.parent.Embed !== "undefined" ){
	      	window.parent.Embed.hideFormLoaderIndicators();
	    }
		if( document.querySelectorAll("div.formFooter").length ){
			document.querySelector("div.formFooter").remove();
		}
	});
</script>
</body></html>
